/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://g.vseigru.net/14/igra-neonovye-krestiki-noliki/img/menu_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}